header {
    background-color: rgb(255, 127, 223);
    color: black;
}

.corpo1{
    color: rgb(0, 247, 255);
}
.corpo2{
    color: blueviolet;
}

.corpo3{
    color: rgb(255, 0, 98);
}
.bunda{
    font-size: 30px;

}